@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center">
        <p class="text-secondary mb-2">Hello, I'm</p>

        <h1 class="display-2 fw-bold mb-2">Hussien Alaa</h1>

        <h2 class="text-secondary mb-4">
            Full stack .Net Web Developer
        </h2>

        <div class="mb-4">
            <a href="~/files/Hussein-Alaa-FlowCV-Resume-20250416.pdf" download class="btn btn-outline-dark rounded-pill px-4 py-2">
                Download CV
            </a>
        </div>

        <div class="social-links">
            <a href="https://github.com/Hussien-Alaa" class="me-3">
                <i class="fab fa-github fa-3x text-dark"></i>
            </a>
            <a href="https://www.linkedin.com/in/hussien-alaa-75ab54320" class="me-3">
                <i class="fab fa-linkedin fa-3x text-dark"></i>
            </a>
        </div>
    </div>
</div>